* {
    padding: 0;
    margin: 0;
}

body, header {
    display: flex;
    flex-direction: column;
}

/* nav bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
}

nav div a {
    padding: 5px;
}

/* nav logo */
nav h3 {
    color: #f9faf8;
    font-size: 24px;
}

/* hero */
#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#hero h1 {
    font-size: 48px;
    text-emphasis: bolder;
    color: #f9faf8;
}

#hero-left {
    display: block;
}

/* hero right */
#hero-right {
    height: 30vh;
    width: 60vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#hero {
    justify-content: center;
    align-items: center;
}

/* nav element + secondary hero text */
nav div a, #hero-left p, #hero-right p {
    font-size: 18px;
    color: #e5e7eb;
}

header, footer {
    background-color: #1f2937;
}


/* 2nd section */
#second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second-content {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    align-items: center;
}

.info #p {
    display: block;
}

.blue-rect {
    height:100px;
    width:100px;
    border-radius: 5px;
    border-color: blue;
    background-color: blue;
    box-sizing: border-box;
}

#third{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
}

#quote {
    margin: 20px 50px;

}
