* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    background: #1f2937;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    height: 100px;
}

/* nav links */
nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #f9faf8;
}

.logo {
    display: block;
    font-size: 24px;
    font-weight: bolder;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

header {
    color: #e5e7eb;
    line-height: 1.2;
    height: 500px;
}

header h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

#placeholder {
    width: 700px;
    height: 300px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 18px;
}

header .container > div:first-child {
    max-width: 500px;
}

#boxes .container{
    display: flex;
    flex-direction: column;
}

#boxes .container div{
    display: flex;
}

#boxes .container div div{
    display: flex;
    flex-direction: column;
}